services:
  toko:
    image: ${DOCKER_REGISTRY-}toko
    build:
      context: .
      dockerfile: src/Toko/Dockerfile
    environment:
      ASPNETCORE_HTTP_PORTS: 8080
      TRUST_FORWARDED_HEADERS: true
      FORCE_SECURE_COOKIE: false
    networks: [toko-net]

  toko.web:
    image: ${DOCKER_REGISTRY-}tokoweb
    build:
      context: .
      dockerfile: client/Toko.Web/Dockerfile
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_HTTP_PORTS: 8080
      ReverseProxy__ApiAddress: "http://toko:8080"
    depends_on: [toko]
    networks: [toko-net]

networks:
  toko-net:
