@using Microsoft.AspNetCore.Components
@using Toko.Shared.Models
@inject NavigationManager Navigation

<div class="room-card" @onclick="HandleClick">
    <div class="room-name">@Room.Name</div>
    <div class="room-meta">
        <div>
            <div class="room-players">@Room.Racers.Count/@Room.MaxPlayers</div>
            <div class="room-players-label">Players</div>
        </div>
        <div class="room-status">@Room.Status.ToString()</div>
    </div>
    @* <div class="room-description">Default map</div> *@
</div>

@code {
    [Parameter] public RoomListItemDto Room { get; set; } = null!;

    private void HandleClick()
    {
        Navigation.NavigateTo($"/room/{Room.Id}");
    }
}